body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

#root {

  align-items: center;
  display: flexbox;
  height: 100vh;
display: block;

  align-items: center; 
}

.map-view {
  width: 80%;
  height: calc(100vh - 30%);

}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

select {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: green;
  outline: none;
}

select:focus {
  border-color: green;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  color: green;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: green;
}


.map-container {
  flex: 1;
  width: 90%; /* کمتر کردن عرض نقشه */
  max-width: 1200px; /* حداکثر عرض نقشه */
  height: calc(100vh - 150px); /* کوتاه‌تر کردن ارتفاع نقشه */
  background-color: #e0ffe0; /* پس‌زمینه سبز روشن برای نقشه */
  border: 2px solid #006400; /* حاشیه سبز تیره برای نقشه */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
