body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-container {

  flex: 1;
  width: 90%;
  align-items: center;
  background-color: #e0ffe0; /* پس‌زمینه سبز روشن برای نقشه */
  border: 2px solid #006400; /* حاشیه سبز تیره برای نقشه */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  padding: 10px; /* کوچک‌تر کردن بخش فیلتر */
  background-color: #004d00; /* سبز تیره */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px; /* کوچک‌تر کردن حاشیه‌ها */
}

select {
  margin: 0 5px; /* کوچک‌تر کردن حاشیه‌های داخلی سلکت */
  padding: 5px; /* کوچک‌تر کردن پدینگ سلکت */
  font-size: 14px; /* کوچک‌تر کردن فونت سلکت */
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #004d00; /* سبز تیره */
  outline: none;
}

select:focus {
  border-color: #004d00; /* سبز تیره */
  box-shadow: 0 0 5px rgba(0, 77, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #004d00; /* سبز تیره */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px; /* کوچک‌تر کردن حاشیه پایین */
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #00ff00; /* سبز روشن */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar ul li {
    margin: 10px 0;
    width: 100%;
  }

  .navbar ul li a {
    width: 100%;
  }
}

.custom-div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: transparent;
}

@media (max-width: 768px) {
  .panel-container {
    flex-direction: column;
    align-items: flex-start;
  }

  select {
    margin: 10px 0;
  }
}

